<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-3">Welcome to about - EntreLab</h1>
    <p class="lead">We are EntreLab. Our company is commited to building a community of developers and entrepreneurs to help translate skills into earnings..., We are constantly evevolving to meet your needs.</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Check this out</a>
    </p>
  </div>
</div>
