<div class="landing-banner text-center container-fluid py-5 text-white">
  <h1>Welcome to EntreLab</h1>
  <h3>Meet entrepreneurs to convert your skills into <strong class="text-dark">$</strong><span class="text-info">earnings...<i class="fa fa-money mr-2" aria-hidden="true"></i></span></h3>
</div>
