.avatar-img {
	width: 128px;
	height: 128px;
}
.card.profile-block {
	color: #fff;
	h4 {
		margin-top: 0;
	}
}
.card.profile-desc {
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.card.profile-contact-info {
	background-color: #5bc8de;
	border-color: #46ae4c;
}
